<md-card>
  <md-card-title>Pagination</md-card-title>
  <md-card-content>
    <p>Add pagination links to help split up your long content into shorter, easier to understand blocks.</p>
  </md-card-content>
</md-card>

<md-card class="card-toolbar">
  <md-toolbar color="primary">Basic Usage</md-toolbar>
  <md-card-content>
    <ul class="pagination">
      <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
      <li class="active"><a>1</a></li>
      <li class="waves-effect"><a>2</a></li>
      <li class="waves-effect"><a>3</a></li>
      <li class="waves-effect"><a>4</a></li>
      <li class="waves-effect"><a>5</a></li>
      <li class="waves-effect"><a>6</a></li>
      <li class="waves-effect"><a>7</a></li>
      <li class="waves-effect"><a>8</a></li>
      <li class="waves-effect"><a>9</a></li>
      <li class="waves-effect"><a><i class="material-icons">chevron_right</i></a></li>
    </ul>
    <pre><code class="language-markup">&lt;ul class="pagination">
  &lt;li class="disabled">&lt;a>&lt;i class="material-icons">chevron_left&lt;/i>&lt;/a>&lt;/li>
  &lt;li class="active">&lt;a>1&lt;/a>&lt;/li>
  &lt;li class="waves-effect">&lt;a>2&lt;/a>&lt;/li>
  &lt;li class="waves-effect">&lt;a>3&lt;/a>&lt;/li>
  &lt;li class="waves-effect">&lt;a>4&lt;/a>&lt;/li>
  &lt;li class="waves-effect">&lt;a>5&lt;/a>&lt;/li>
  &lt;li class="waves-effect">&lt;a>&lt;i class="material-icons">chevron_right&lt;/i>&lt;/a>&lt;/li>
&lt;/ul></code></pre>
  </md-card-content>
</md-card>
