<md-card>
  <md-card-title>Google Maps</md-card-title>
  <md-card-content>
    <sebm-google-map [latitude]="lat" [longitude]="lng">
      <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
    </sebm-google-map>
    <pre><code class="language-markup">&lt;sebm-google-map [latitude]=&quot;lat&quot; [longitude]=&quot;lng&quot;&gt;
  &lt;sebm-google-map-marker [latitude]=&quot;lat&quot; [longitude]=&quot;lng&quot;&gt;&lt;/sebm-google-map-marker&gt;
&lt;/sebm-google-map&gt;</code></pre>
  </md-card-content>
</md-card>
