<md-card class="card-toolbar">
  <md-card-content>
    <form #sampleForm="ngForm">
      <md-tab-group [(selectedIndex)]="selectedIndex">
        <md-tab [disabled]="!canMove(0)" label="Step One">
          <md-card>
            <md-card-title>User Info</md-card-title>
            <md-card-subtitle>* - Required Field</md-card-subtitle>
            <md-card-content>
              <table style="width: 100%" cellspacing="0">
                <tr>
                  <td>
                    <md-input name="firstName" [(ngModel)]="firstName" placeholder="First name" style="width: 100%" required></md-input>
                  </td>
                  <td>
                    <md-input name="lastName" [(ngModel)]="lastName" placeholder="Last Name" style="width: 100%" required></md-input>
                  </td>
                </tr>
              </table>
              <table style="width: 100%" cellspacing="0">
                <tr>
                  <td style="width: 45%">
                    <md-input class="demo-full-width" placeholder="Address" value="1600 Amphitheatre Pkway"></md-input>
                  </td>
                  <td style="width: 25%">
                    <md-input class="demo-full-width" placeholder="City" value="Mountain View"></md-input>
                  </td>
                  <td style="width: 15%">
                    <md-input class="demo-full-width" placeholder="State" maxlength="2" value="CA"></md-input>
                  </td>
                  <td style="width: 15%">
                    <md-input #postalCode class="demo-full-width" maxlength="5" placeholder="Postal Code" value="94043">
                      <md-hint align="end">{{postalCode.characterCount}} / 5</md-hint>
                    </md-input>
                  </td>
                </tr>
              </table>

            </md-card-content>
            <md-card-actions align="end">
              <button md-raised-button color="primary" disabled>Previous</button>
              <button md-raised-button color="primary" (click)="next()" [disabled]="!canMove(1) || !sampleForm.valid">Next</button>
            </md-card-actions>
          </md-card>
        </md-tab>
        <md-tab [disabled]="!canMove(1)" label="Step Two">
          <md-card>
            <md-card-title>More Info</md-card-title>
            <md-card-content>
              This page has some basic info, but contains no required fields!
            </md-card-content>
            <md-card-actions align="end">
              <button md-raised-button color="primary" (click)="previous()" [disabled]="!canMove(0)">Previous</button>
              <button md-raised-button color="primary" (click)="next()" [disabled]="!canMove(2)">Next</button>
            </md-card-actions>
          </md-card>
        </md-tab>
        <md-tab [disabled]="!canMove(2)" label="Step Three">
          <md-card>
            <md-card-title>Finish</md-card-title>
            <md-card-content>
              <md-checkbox color="primary" name="acceptedTerms" [(ngModel)]="acceptedTerms">I Agree To The Terms & Conditions</md-checkbox>
            </md-card-content>
            <md-card-actions align="end">
              <button md-raised-button color="primary" (click)="previous()" [disabled]="!canMove(1)">Previous</button>
              <button md-raised-button color="primary" [disabled]="!canFinish()" (click)="submit(sampleForm)">Finish</button>
            </md-card-actions>
          </md-card>
        </md-tab>
      </md-tab-group>
    </form>
  </md-card-content>
</md-card>
