<!--<div id="register-page">-->
  <!--<md-toolbar color="primary">Register</md-toolbar>-->
  <!--<md-card>-->
    <!--<c-callout type="danger" *ngIf="errorText">{{errorText}}</c-callout>-->
    <!--<img md-card-image src="http://docs.whitesourcesoftware.com/download/attachments/17989744/github_logo.png?version=1&modificationDate=1463491374000">-->
    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
    <!--&lt;!&ndash;<label for="first-name">First Name</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" class="form-control" id="first-name" [(ngModel)]="user.firstName" autocorrect="off">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<md-card-content>-->
      <!--<form id="register-form">-->
        <!--<c-row>-->
          <!--<c-col>-->
            <!--<md-input placeholder="First Name"></md-input>-->
          <!--</c-col>-->
          <!--<c-col>-->
            <!--<md-input placeholder="Last Name"></md-input>-->
          <!--</c-col>-->
        <!--</c-row>-->
        <!--<c-row>-->
          <!--<c-col cols="12">-->
            <!--<md-input placeholder="Email" type="email"></md-input>-->
          <!--</c-col>-->
        <!--</c-row>-->
        <!--<c-row>-->
          <!--<c-col cols="12">-->
            <!--<md-input placeholder="Username"></md-input>-->
          <!--</c-col>-->
        <!--</c-row>-->
        <!--<c-row>-->
          <!--<c-col>-->
            <!--<md-input placeholder="Password" type="password"></md-input>-->
          <!--</c-col>-->
          <!--<c-col>-->
            <!--<md-input placeholder="Confirm Password" type="password"></md-input>-->
          <!--</c-col>-->
        <!--</c-row>-->
        <!--<button type="submit" md-raised-button color="primary">Register</button>-->
      <!--</form>-->
    <!--</md-card-content>-->
  <!--</md-card>-->
  <!--<md-card>-->
    <!--Already have an account? <a routerLink="/login">Sign In</a>-->
  <!--</md-card>-->
<!--</div>-->
